@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

.bigtext{
    color:black
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.topbar {
  background-color: #f8f4e3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;}
  
.logo{
 width: 10vw;
 height: 15vh;
 margin: 2vw;
 margin-left:10vw;
}

@media (max-width: 400px){
  .logo{
    margin-right: 1vw;
    margin-left: 0;
  }
}

ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
  margin:3vw;
  width: 50vw;

}

@media (max-width: 400px) {
  ul{
    margin: 0;
  }}

.link{
  display: flex;
  justify-content: center;
  margin: 1vw;
  font-size: medium;
  width: 25%;
  padding: 12px;
  border: solid;
  border-width: thin;
  border-color:lightseagreen;
  
}


@media (max-width: 400px){
  .link{
display: flex;
justify-content: center;
align-items: center;
font-size: small;
margin: 0;}
}

.link:hover{
  background-color: white;
}

a{
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-weight: 200;
  width: 5vw;
}

 @media (max-width: 400px) {
   a {  
display: flex;
justify-content: center;
align-items: center;
font-size: xx-small;
margin: 0;
padding: 1vw;}
   }
 
  


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
